<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Analyzing Your Text</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<body>
    <h1 class="display-3" style="text-align: center;">Your Analyzed Text - {{ purpose }}</h1>
    <p class="display-4" style="text-align: center; margin-top: 20px;">
        {{ analyzed_text }}
    </p>
</body>

</html>